---
import { Library } from "lucide-astro";
import Stars from "../components/UI/Stars.astro";
import WorkCard from "../components/UI/workCard.astro";
import Layout from "../layouts/Layout.astro";
import { Content as TechStack } from "../pages/techstack.md";
import Particals from "../components/UI/particals.astro";
interface Frontmatter {
  title: string;
  disabled: boolean;
  state: string;
  id: string;
  link: string;
  description: string;
  techstack: string[];
}
const works = await Astro.glob<Frontmatter>("../pages/works/*.md");
const completedWorks = await Astro.glob<Frontmatter>(
  "../pages/works/Completed/*.md"
);
---

<Layout title="Deus Mechanicus">
  <main
    class="flex flex-col justify-center gap-20 from-black to-base to-50% px-4 dark:bg-gradient-to-b"
  >
    <div class="relative flex select-none flex-col justify-center p-4">
      <div class="relative flex h-dvh items-center justify-center">
        <Particals />
        <div
          class="z-20 flex h-fit flex-col items-center justify-center gap-2 rounded-xl bg-mantle p-9 px-20 hover:shadow-text hover:transition-colors sm:hover:shadow-sm md:flex-row dark:bg-black/60 dark:hover:bg-black/80"
        >
          <div
            class="group/container inline-flex aspect-square w-fit items-center justify-center rounded-full p-5 shadow-none transition-all duration-500 hover:bg-transparent hover:transition-all hover:duration-500"
          >
            <Stars />
          </div>
          <h1
            class="whitespace-nowrap font-chakra text-7xl font-extrabold"
            id="name"
          >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['α'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"S"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['δ'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"t"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['ε'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"e"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['ζ'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"r"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['η'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"n"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['γ'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false">{"a"}</span
            >
            <span
              class="relative opacity-0 after:absolute after:-top-0 after:right-1/2 after:translate-x-1/2 after:text-xl after:opacity-0 after:transition-all after:content-['β'] hover:after:-top-5 hover:after:transition-all data-[reveal='true']:opacity-100 sm:hover:after:opacity-100"
              data-reveal="false"
              >{"s"}
            </span>
          </h1>
        </div>
      </div>
      <div class="flex select-text items-center justify-center gap-5">
        <span
          class="relative w-fit font-chakra text-3xl font-extrabold text-rosePineDawn-muted"
        >
          For tomorrow's <span
            class="relative text-rosePineMoon-gold after:absolute after:bottom-1 after:right-0 after:h-px after:w-1 after:rounded after:bg-rosePineDawn-gold after:opacity-0 after:transition-all after:duration-500 hover:after:w-full hover:after:opacity-100"
            >Sunrise</span
          >,
        </span>
        <span
          class="font-chakra text-3xl font-extrabold text-rosePineDawn-muted"
        >
          For yesterday's
          <span
            class="relative text-text after:pointer-events-none after:absolute after:right-1/2 after:top-0 after:-translate-x-1/2 after:rounded after:bg-mantle after:p-2 after:font-thin after:opacity-0 after:shadow-lg after:transition-all after:content-['299,792,458'] hover:after:-top-12 hover:after:opacity-100 sm:after:translate-x-1/2 dark:text-white"
          >
            Starlight</span
          >.
        </span>
      </div>
    </div>
    <div class="divide-y divide-dashed divide-rosePine-muted">
      <div class="flex flex-col p-5 pt-20 md:p-20">
        <h1 class="mb-5 ml-20 text-3xl font-bold">My Works</h1>
        <div
          class="grid grid-flow-row grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3"
        >
          {
            completedWorks.map((work) => {
              return (
                <WorkCard
                  disabled={work.frontmatter.disabled}
                  state={work.frontmatter.state}
                  description={work.frontmatter.description}
                  id={work.frontmatter.id}
                  techstack={work.frontmatter.techstack}
                  title={work.frontmatter.title}
                  uri={work.url as string}
                  link={work.frontmatter.link}
                />
              );
            })
          }
          {
            works.map((work) => {
              return (
                <WorkCard
                  disabled={work.frontmatter.disabled}
                  state={work.frontmatter.state}
                  description={work.frontmatter.description}
                  id={work.frontmatter.id}
                  techstack={work.frontmatter.techstack}
                  title={work.frontmatter.title}
                  uri={work.url as string}
                  link={work.frontmatter.link}
                />
              );
            })
          }
        </div>
      </div>
      <div class="hidden flex-col p-5 pt-20 md:p-20">
        <h1 class="mb-5 ml-20 text-3xl font-bold">
          lerned
          <span>
            <Library class="inline" />
          </span>
        </h1>
        <div>
          <TechStack />
        </div>
      </div>
      <div class="flex flex-col items-center justify-center p-5 pt-20 md:p-20">
        <a
          href="soul/aboutme"
          class="relative mb-5 ml-20 text-center text-3xl font-bold text-text after:absolute after:bottom-0 after:right-1/2 after:h-px after:w-full after:translate-x-1/2 after:scale-0 after:bg-white after:transition-all hover:after:scale-100"
          >About me</a
        >
      </div>
    </div>
  </main>
</Layout>

<style></style>

<script>
  import { nameAnimation } from "../lib/landing";
  nameAnimation();
</script>
